* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 15px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: white;
  margin: 2px 2px;
}

#workspaces,
#tray,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory {
  background-color: black;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: white;
  border-radius: 5px;
}

#battery {
  color: white;
  border-radius: 0;
}

#pulseaudio {
  color: white;
  border-radius: 5px 0px 0px 5px;
}

#workspaces button {
  color: white; 
  padding-bottom: 3px;
}

#workspaces button.focused {
  color: black; 
  background-color: white;
  padding-bottom: 3px;
}

#workspaces button.urgent {
  color: white; 
  font-style: italic;
  padding-bottom: 3px;
}
